<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>HLS播放示例</title>
</head>
<body>
<video id="video" controls width="640" height="360"></video>

<script th:src="@{/libs/hls.js}"></script>
<script>
    const video = document.getElementById('video');
    const videoSrc = 'http://localhost:8787/uploads/common/2025-05-30/mp4/hls/output.m3u8';

    if (Hls.isSupported()) {
        const hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc;
    } else {
        alert('您的浏览器不支持HLS播放，请换个浏览器试试！');
    }
</script>
</body>
</html>
