<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.video.mapper.SysFileMapper">
  <resultMap id="BaseResultMap" type="com.coderman.video.model.SysFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="file_hash" jdbcType="VARCHAR" property="fileHash" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="storage_type" jdbcType="VARCHAR" property="storageType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_hash, file_name, file_type, file_size, file_url, file_path,storage_type, status, created_at,
    updated_at
  </sql>
</mapper>