<!-- fragments/footer.html -->
<footer class="site-footer" th:fragment="footer">
    <div class="footer-container">
        <div class="footer-left">
            <div class="logo">慕课Lite</div>
            <p class="description">专注 IT 在线教育，陪你从入门到进阶。</p>
            <p class="copyright">© 2025 慕课Lite 版权所有</p>
        </div>

        <div class="footer-links">
            <div class="footer-column">
                <h4>关于我们</h4>
                <ul>
                    <li><a href="#">公司介绍</a></li>
                    <li><a href="#">团队成员</a></li>
                    <li><a href="#">加入我们</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>学习资源</h4>
                <ul>
                    <li><a href="#">前端开发</a></li>
                    <li><a href="#">Java 后端</a></li>
                    <li><a href="#">微服务架构</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>帮助支持</h4>
                <ul>
                    <li><a href="#">常见问题</a></li>
                    <li><a href="#">联系客服</a></li>
                    <li><a href="#">意见反馈</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
