<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<h2>
    欢迎回来，
    <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}">用户</span>
    <span th:text="${#authentication.principal.nickname}">昵称</span>
    <img th:src="${#authentication.principal.avatarUrl}" alt="头像" />
</h2>
<a th:href="@{/logout}" class="logout">退出登录</a>
</body>
</html>
