<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>极简 Hash + 进度</title>
</head>
<body>

<h3>请选择文件：</h3>
<input id="file" type="file">

<script th:src="@{/libs/spark-md5.min.js}"></script>
<script th:src="@{/libs/axios.min.js}"></script>
<script>
    const fileInput = document.getElementById('file');
    const CHUNK_SIZE = 1024 * 1024;

    async function cutFile(file) {
        return new Promise(resolve => {
            const chunkCount = Math.ceil(file.size / CHUNK_SIZE);
            const threadChunkCount = Math.ceil(chunkCount / (navigator.hardwareConcurrency || 4));
            const result = [];
            let finishCount = 0;

            for (let i = 0; i < (navigator.hardwareConcurrency || 4); i++) {
                const worker = new Worker('/libs/worker.js');
                const start = i * threadChunkCount;
                let end = (i + 1) * threadChunkCount;

                if (end > chunkCount) {
                    end = chunkCount;
                }

                worker.postMessage({
                    file,
                    CHUNK_SIZE,
                    startChunkIndex: start,
                    endChunkIndex: end
                });

                worker.onmessage = e => {
                    for (let j = start; j < end; j++) {
                        result[j] = e.data[j - start];
                    }
                    worker.terminate();
                    finishCount++;

                    if (finishCount === (navigator.hardwareConcurrency || 4)) {
                        resolve(result);
                    }
                };
            }
        });
    }

    async function computeFileHash(chunkList) {
        const spark = new SparkMD5();
        for (let chunk of chunkList) {
            spark.append(chunk.hash);
        }
        return spark.end();
    }

    async function _getUploadId(file, fileHash, totalParts) {
        try {
            const response = await axios.post('/api/upload/init', {
                fileName: file.name,
                fileSize: file.size,
                fileHash,
                totalParts
            });
            return response.data;
        } catch (error) {
            console.error('请求 uploadId 失败：', error);
            throw error;
        }
    }

    async function checkFileExist(fileHash, fileSize) {
        try {
            const response = await axios.post('/api/upload/check', {
                fileHash,
                fileSize
            });
            return response.data;
        } catch (error) {
            console.error('检查文件失败：', error);
            throw error;
        }
    }

    async function uploadPart(uploadId, index, chunk, file, fileHash) {
        const formData = new FormData();
        formData.append("uploadId", uploadId);
        formData.append("partNumber", index);
        formData.append("file", chunk.blob);
        formData.append("fileName", file.name);
        formData.append("fileHash", fileHash);

        return axios.post('/api/upload/part', formData);
    }

    async function mergeFile(uploadId, fileName) {
        return axios.post('/api/upload/merge', {
            uploadId,
            fileName
        });
    }

    fileInput.addEventListener('change', async (e) => {
        const file = e.target.files[0];
        if (!file) return;

        try {

            // 1. 计算文件分片和hash
            const chunks = await cutFile(file);
            const fileHash = await computeFileHash(chunks);

            // 2. 检查文件是否已存在（秒传）
            let {result: {isFastUpload , filePath, nextPartNumber, uploadId} } = await checkFileExist(fileHash, file.size);
            if (isFastUpload) {
                console.log(`文件已存在，秒传成功！文件路径：${filePath}`);
                return;
            }

            if(!uploadId){
                const { result } = await _getUploadId(file, fileHash, chunks.length);
                uploadId = result || '';
            }

            // 上传每一块（支持断点续传）
            for (let i = nextPartNumber; i <= chunks.length; i++) {
                console.log(`开始上传分片 ${i}...`);
                await uploadPart(uploadId, i, chunks[i-1], file, fileHash);
                console.log(`分片 ${i} 上传完成`);

                const percent = Math.floor(((i + 1) / chunks.length) * 100);
                console.log(`整体上传进度: ${percent}%`);
            }

            // 所有分片上传完，通知服务端合并
            await mergeFile(uploadId, file.name);

        } catch (err) {
            console.error('上传过程失败：', err);
        }
    });
</script>

</body>
</html>
